#preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: visible;
  background: #fff url('walk.gif') no-repeat center;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
